  @import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1,h2,h3,h4,h5,h6 {
  font-family: 'Allerta Stencil', sans-serif;
}

body {
  background-color: #444;
  color: #fff;
  padding: 10px; 
  font-family: 'Roboto', sans-serif;
}

header{
  background-color: #333;
  padding: 5px 10px;
}
header h2 {
  font-size: 80%;
}
section h3 {
  text-transform: lowercase;
}

section {
  background-color: #222;
  padding: 10px;
  transition: 1s;
}

#start {
  grid-area: start;
}

#next {
  grid-area: next;
}

header {
  grid-area: header;
}

#navbar {
  grid-area: navbar;
  background-color: #333;
  padding: 10px;
}

#navbar a button {
  width: 100%;
  display: block;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  padding: 5px 10px;
  font-size: 100%;
  border: solid #222;
  text-transform: uppercase;
}

#navbar a {
  text-decoration: none;
}

#navbar button:hover{
  cursor: pointer;
}

section:hover {
  font-size: 110%;
}
#footer {
  grid-area: footer;
  background-color: #333;
  padding: 10px;
}

#content {
  display: grid;
  grid-template-areas:
  "navbar header header"
  "navbar start next"
  "navbar footer footer";
  grid-gap: 10px 10px;
}